body{
  margin: 0;
  padding: 0;
  background-color: #FFCCCC;
  min-height: 100vh;
  font-family: Arial;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header form {
  margin: 0;
}

header #welcome {
  font-size: 24px;
}

.flex_between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#add_to_schedule {
  width: 50%;
  background-color: rgba(255,255,255,0.4);
  width: 30%;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="date"],
input[type="time"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.schedule {
  width: 70%;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
  overflow-x: scroll;
}

.gridhour {
  margin-right: 3px;
  width: 20%;
  overflow-x: auto;
}

.day, .hour {
  background-color: #eee;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.day {
  width: 100px;
  grid-row: 1;
  flex-direction: column;
}

.hour {
  width: 100%;
  grid-column: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* color of the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.schedule_item{
  display: inline-grid;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eee;
  align-items: baseline;
}

select {
  background-color: #f2f2f2;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  min-width: 200px;
}

option {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}